<!-- font -->
.body {
  font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 0px;
  color: #23262a;
  font-weight: 700;
  letter-spacing: 0px;
}

h1 {
  font-size: 43px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 26px;
}

h4 {
  font-size: 21px;
}


<!-- HOME OWL -->
.carousel-item{
	height:32rem;
	background:#000;
	color:white;
	position: relative;
	
	/*
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-size: cover;
	background-position: center;
	z-index: -1;*/

  
}
.container{
    position:relative;
	bottom:0;
	left:0;
	right:0;
	top:0;
	
	padding-bottom:300px;
	text-align:center;
	color:#000;
	
}

.overlay-image{
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	top:0;
	background-position: center;
	background-size: cover;
	opacity:0.5;
	

  
 
}

/*----------------------------*\
	button
\*----------------------------*/

.primary-button {
  position: relative;
  display: inline-block;
  padding: 0px 30px;
  background: #83ba09;
  color: #FFF;
  font-weight: 400;
  height: 45px;
  line-height: 45px;
  border: none;
  border-radius: 25px;
  overflow: hidden;
  opacity: 0.9;
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
  text-decoration: none;
}

.primary-button:after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 120%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale3d(6, 2, 1) rotate(135deg) translate(0, -150%);
  transform: scale3d(6, 2, 1) rotate(135deg) translate(0, -150%);
  -webkit-transition: 0.6s all;
  transition: 0.6s all;
}

.primary-button:hover:after, .primary-button:focus:after {
  -webkit-transform: scale3d(6, 2, 1) rotate(135deg) translate(0, 100%);
  transform: scale3d(6, 2, 1) rotate(135deg) translate(0, 100%);
}

.primary-button:hover, .primary-button:focus {
  color: #FFF;
  opacity: 1;
}

.header{
	font-size:16px;
}

.section-title{
	text-align:justify;
	margin-top:25px;
}


/*----------------------------*\
	section
\*----------------------------*/

.section {
  position: relative;
  padding: 60px 0px;
}

.section-bg {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.section-title {
  margin-bottom: 60px;
}

.section-title .title {
  font-size: 43px;
  text-transform: capitalize;
  margin-bottom: 30px;
}

.section-title .sub-title {
  color: #23262a;
  font-size: 21px;
  line-height: 26px;
}


/*=========================================================
	ABOUT
===========================================================*/

#about.section {
  padding-bottom: 0px;
}

#about:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 10px;
  background-color: #f4f4f8;
  z-index: -1;
}

#about .section-title {
  margin-bottom: 30px;
  margin-top: 30px;
}

.about-content .primary-button {
  margin-top: 15px;
}

.about-video {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.about-video>img {
  width: 100%;
}

.about-video .play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  font-size: 26px;
}


/*=========================================================
	NUMBERS
===========================================================*/

.number {
  text-align: center;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #e6e6ea;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}

.number i {
  font-size: 43px;
  color: #83ba09;
  margin-bottom: 15px;
}

.number h3 {
  font-size: 33px;
}

.number span {
  color: #83ba09;
  font-weight: 700;
}

.number:hover {
  border-color: #83ba09;
}


/*=========================================================
	CAUSES
===========================================================*/

.causes {
  margin-bottom: 60px;
}

.causes .causes-img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.causes .causes-img a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #83ba09;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.causes .causes-img a:hover:after {
  opacity: 0.6;
}

.causes .causes-img img {
  width: 100%;
}

.causes .causes-progress {
  margin-top: 45px;
}

.causes-progress .causes-progress-bar {
  position: relative;
  height: 6px;
  background-color: #e6e6ea;
  border-radius: 10px;
  margin-bottom: 10px;
}

.causes-progress .causes-progress-bar>div {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #83ba09;
  bottom: 0;
  border-radius: 10px;
}

.causes-progress .causes-progress-bar>div span {
  position: absolute;
  right: 5px;
  top: -3px;
  -webkit-transform: translate(50%, -100%);
  -ms-transform: translate(50%, -100%);
  transform: translate(50%, -100%);
  padding: 2px 10px;
  background: #83ba09;
  color: #FFF;
  font-weight: 400;
  border-radius: 10px;
  font-size: 12px;
}

.causes-progress .causes-progress-bar>div span:after {
  content: "";
  position: absolute;
  background-color: #83ba09;
  height: 3px;
  bottom: 0;
  -webkit-transform: translate(-50%, 100%);
  -ms-transform: translate(-50%, 100%);
  transform: translate(-50%, 100%);
  width: 3px;
  left: 50%;
}

.causes-progress .causes-goal {
  float: left;
}

.causes .causes-content {
  margin-top: 25px;
}

.causes .causes-content h3 {
  text-transform: capitalize;
 
  
}

.causes .causes-content h3>a {
  font-weight: 700;
  text-decoration: none;
  color:#000;
}

.causes .causes-content .causes-donate {
  margin-top: 15px;
}

.causes-details .causes-progress {
  width: 100%;
  float: left;
  margin-top: 45px;
}

.causes-details .causes-donate {
  float: right;
  margin-top: 30px;
}

/*=========================================================
	CALL TO ACTION
===========================================================*/

#cta.section {
  padding: 90px 0px;
 
  text-align:center;
  
}
.animate-charcter
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 3s linear infinite;
  display: inline-block;
      font-size: 45px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}



/*=========================================================
	RESPONSIVE
===========================================================*/

@media only screen and (max-width: 1201px) {}

@media only screen and (max-width: 991px) {
  .section-title .title {
    font-size: 33px;
  }
  .home-content h1 {
    font-size: 43px;
  }
  .about-video {
    margin-top: 30px;
  }
  .cta-content h1 {
    font-size: 43px;
  }
  #footer-bottom .footer-nav {
    text-align: left;
  }
  .footer-copyright {
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .causes-details .causes-progress {
    width: 100%;
    float: none;
  }
  .causes-details .causes-donate {
    float: none;
  }
  .article-tags-share .tags, .article-tags-share .share {
    display: block;
    float: none;
    width: 100%;
  }
  .article-tags-share .share {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 480px) {
  .event .event-img {
    float: none;
    margin-bottom: 15px;
  }
  .event .event-content {
    padding-left: 0px;
  }
  .article-comments .media {
    padding: 10px;
  }
}



/*=========================================================
	FOOTER
===========================================================*/

#footer {
  background-color: #f4f4f8;
}

.footer {
  margin-bottom: 30px;
}

.footer .footer-title {
  margin-bottom: 30px;
  text-transform: capitalize;
}

/*----------------------------*\
	logo
\*----------------------------*/

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo .logo {
  display: inline-block;
}

.footer-logo .logo img {
  max-height: 80px;
}

/*----------------------------*\
	contact
\*----------------------------*/


.footer-contact {
  margin-top: 30px;
  list-style:none;
  text-decoration:none;
  text-align:left;
}

.footer-contact li {
  margin-bottom: 10px;
}

.footer-contact li i{
  margin-right: 5px;
  
}

/*----------------------------*\
	galery
\*----------------------------*/

.footer-galery {
  margin: 0px -5px;
}

.footer-galery li {
  display: inline-block;
  width: 33.33%;
  margin-right: -4px;
  padding: 5px;
}

.footer-galery li a {
  position: relative;
  display: block;
  border-radius: 10px;
  overflow: hidden;
}

.footer-galery li a:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #83ba09;
  opacity: 0;
  -webkit-transition: 0.3s opacity;
  transition: 0.3s opacity;
}

.footer-galery li a:hover:after {
  opacity: 0.6;
}

.footer-galery li a>img {
  width: 100%;
}

/*----------------------------*\
	newsletter
\*----------------------------*/

.footer-newsletter {
  margin: 30px 0px;
}

.footer-newsletter .primary-button {
  margin-top: 15px;
  display: block;
  width: 100%;
}

/*----------------------------*\
	social
\*----------------------------*/

.footer-social li {
  display: inline-block;
  margin-right: 10px;
}

.footer-social li a {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  color: #5f646b;
  text-align: center;
  background-color: #FFF;
  border: 1px solid #e6e6ea;
  -webkit-transition: 0.3s border-color;
  transition: 0.3s border-color;
}

.footer-social li a:hover, .footer-social li a:focus {
  border-color: #83ba09;
}

/*----------------------------*\
	copyright & footer nav
\*----------------------------*/

#footer-bottom {
  border-top: 1px solid #e6e6ea;
  padding-top: 30px;
}

#footer-bottom .footer-nav {
  text-align: right;
}

#footer-bottom .footer-nav li {
  display: inline-block;
  margin-right: 15px;
}

#footer-bottom .footer-nav li a {
  color: #5f646b;
}

#footer-bottom .footer-nav li a:hover, #footer-bottom .footer-nav li a:focus {
  color: #83ba09;
}

/*----------------------------*\
	owl dots
\*----------------------------*/

.owl-theme .owl-dots .owl-dot span {
  border: 1px solid #FFF;
  background: transparent;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.owl-theme .owl-dots .owl-dot:hover span {
  border-color: #83ba09;
  background: #83ba09;
}

.owl-theme .owl-dots .owl-dot.active span {
  width: 20px;
  border-color: #83ba09;
  background: #83ba09;
}






